* {
    margin: 0;
    padding: 0;
}
 
.header {
    background-color: white;
    font-family: 'Ruda', sans-serif;
}

.product {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    text-align: center;
	
	.product-image {
		position: center;
		width: 150px;
		height: 150px;
	}
	
	.product-title {
		font-size: 18px;
		margin: 8px 0;
	}
	
	.product-price {
		font-size: 16px;
		color: #b12704;
	}
}

.footer{
    text-decoration: none;
    color: black;
    background-color: rgb(245, 231, 214);
    font-family: 'Ruda', sans-serif;
    p{
        font-family: 'Montserrat', Times, serif;
    }
}
